<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'VER', user %></td>
        <td><%= link_to 'EDITAR', edit_user_path(user) %></td>
        <td><%= link_to 'ELIMINAR', user, method: :delete, data: { confirm: 'ESTAS SEGURO?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'CREAR CUENTA', new_user_path %>
